<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>cityataglancejaipur</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
    <param-name>driver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>

  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3307/emp</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>login</param-name>
    <param-value>ritu15@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>apass</param-name>
    <param-value>aaaa</param-value>
  </context-param>
	
	<servlet>
		<description>
		</description>
		<display-name>adminpassword</display-name>
		<servlet-name>adminpassword</servlet-name>
		<servlet-class>
		adminpassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>registeration</display-name>
		<servlet-name>registeration</servlet-name>
		<servlet-class>
		registeration</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>addinfo</display-name>
		<servlet-name>addinfo</servlet-name>
		<servlet-class>
		addinfo</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>showalltablelist</display-name>
		<servlet-name>showalltablelist</servlet-name>
		<servlet-class>
		showalltablelist</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>updateinfo</display-name>
		<servlet-name>updateinfo</servlet-name>
		<servlet-class>
		updateinfo</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>deleteinfo</display-name>
		<servlet-name>deleteinfo</servlet-name>
		<servlet-class>
		deleteinfo</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>insearttable</display-name>
		<servlet-name>insearttable</servlet-name>
		<servlet-class>
		insearttable</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>showhistoricallist</display-name>
		<servlet-name>showhistoricallist</servlet-name>
		<servlet-class>
		showhistoricallist</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>showmalllist</display-name>
		<servlet-name>showmalllist</servlet-name>
		<servlet-class>
		showmalllist</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>showcollegelist</display-name>
		<servlet-name>showcollegelist</servlet-name>
		<servlet-class>
		showcollegelist</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>showhospitallist</display-name>
		<servlet-name>showhospitallist</servlet-name>
		<servlet-class>
		showhospitallist</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>searchofplace</display-name>
		<servlet-name>searchofplace</servlet-name>
		<servlet-class>
		searchofplace</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>inseartcomment</display-name>
		<servlet-name>inseartcomment</servlet-name>
		<servlet-class>
		inseartcomment</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>commentshow</display-name>
		<servlet-name>commentshow</servlet-name>
		<servlet-class>
		commentshow</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminpassword</servlet-name>
		<url-pattern>/adminpassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>registeration</servlet-name>
		<url-pattern>/registeration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addinfo</servlet-name>
		<url-pattern>/addinfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>showalltablelist</servlet-name>
		<url-pattern>/showalltablelist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>updateinfo</servlet-name>
		<url-pattern>/updateinfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deleteinfo</servlet-name>
		<url-pattern>/deleteinfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>insearttable</servlet-name>
		<url-pattern>/insearttable</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>showhistoricallist</servlet-name>
		<url-pattern>/showhistoricallist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>showmalllist</servlet-name>
		<url-pattern>/showmalllist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>showcollegelist</servlet-name>
		<url-pattern>/showcollegelist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>showhospitallist</servlet-name>
		<url-pattern>/showhospitallist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>searchofplace</servlet-name>
		<url-pattern>/searchofplace</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>inseartcomment</servlet-name>
		<url-pattern>/inseartcomment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>commentshow</servlet-name>
		<url-pattern>/commentshow</url-pattern>
	</servlet-mapping>
	


	</web-app>

